.App {
  text-align: center;
}

.App-header {
  background-color: #4e79cf;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.card-container{
  margin-left: 100px;
  padding-left: 190px;
  display: flex; 
  flex-wrap: wrap;
  align-items: center;
 }
