img{
    width: 90%;
    height: 90%;
    object-fit: contain; 
}



.parte1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
}


.img_parte1{
    width: 20%;
    height: 20%;
    margin-top: 20px;
    margin-bottom: 20px;
    border:none;
}

.borde{
    width: 20%;
    height: 20%;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 6px solid blue;
}

.containerimagen{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.parte3{
 
}

.parte3 .containerOption{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
    margin-bottom: 30px;

}

.color1 {
   
    background-color: aqua;

}

.color2 {
  
    background-color:mediumorchid

}

.color3 {

    background-color:lightslategrey

}
.optionNumero{
    width: 50px;
}