* { margin: 0; padding: 0; }

.header{grid-area: header}
.menu{grid-area: menu}
.body{grid-area: body}
.footer{grid-area: footer}

.grid-container{
    display: grid;
    max-width: 100%;
    border: 3px solid lightgrey;
    height: 95vh;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 60px 1fr 30px;
    grid-template-areas: 
        'header header header header header'
        'menu body body body body'
        'footer footer footer footer footer';
}

img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.header {
    background-color: navy;
}

.titulo_header {
    margin-top: 20px;
    text-align: center;
    color:white;
    font-size: 20px;
}

.menu {
    background-color: rgb(195, 206, 216);
}

.menu aside {
    grid-area: menu;
    justify-content: center;
    padding: 1rem;
    color: black;
}

.body {
    background-color: rgb(152, 181, 209);
    display: flex;
    align-content:flex-start;
    flex-wrap: wrap;
}

ul {
    list-style-type: none;
}

.card{
    display: flex;
    flex-direction: column;
    width: 410px;
    height:calc(100vw - 0.3);
    margin:23px;
    margin: 0.5rem 1 1rem ;
    background-color: white;
}

.card-body{
    height: 40%;
    width: 100%;
    display: flex;
   
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-body button{
    margin-top: auto;
    width: 100%;
    border: 0;
    background-color: navy;
    color: white;
    height: 2rem;
}

.card-body p{
    text-align: center;
}
.card-img  {
    width: 100%;
    height: 80%;
}
.card-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
h3{
    margin-bottom: 8px;
    padding: 0;
    text-align: left;
    margin-left: 15px;
    text-align: center;
}
li{
    margin-left: 15px;
    margin-bottom: 3px;
    text-align: left;
    
}
span{
    margin: 3px;
    font-size: 12px;
    color: grey;
}
.footer{
    text-align: center;
    color:black
}